{% load static %}
<main>
  <article>
      
    {% include "banner.html" %}
    <!--#ABOUT-->
    <section class="section about" id="about" aria-label="about">
      <div class="container">

        <div class="about-banner has-after">
          <img src="{% static 'images/about-banner.png' %}" width="660" height="648" loading="lazy" alt="about banner"
            class="w-100">
          <img src="{% static 'images/about-circle-one.png' %}" width="660" height="534" loading="lazy" aria-hidden="true"
            alt="" class="circle circle-1">
          <img src="{% static 'images/about-circle-two.png' %}" width="660" height="534" loading="lazy" aria-hidden="true"
            alt="" class="circle circle-2">
          <img src="{% static 'images/fitness.png' %}" width="650" height="154" loading="lazy" alt="fitness"
            class="abs-img w-100">
        </div>

        <div class="about-content">
          <p class="section-subtitle">HAKKIMIZDA</p>
          <h2 class="h2 section-title">Salonumuza Hoş Geldiniz..</h2>
          <p class="section-text">
            Bunny Fit olarak, en üst düzey fiziksel fitness eğitimi standartlarına odaklanıyoruz. 2021'den beri faaliyet gösteren ekibimiz, üyelerimizin hayatını zenginleştirmeye odaklanarak sağlıklı, güçlü ve hedefleri benzer insanlardan oluşan bir topluluk oluşturuyor. Vücudunuzu şekillendirmeyi hedefliyoruz ve sizleri bu yolculuğa davet ediyoruz.

            Fitness sadece egzersiz yapmak değil, aynı zamanda bir destek sistemine sahip olmaktır. Bu nedenle, Bunny Fit olarak amacımız, sizlere sadece bir spor salonu değil, aynı zamanda kendinizi evinizde hissedeceğiniz bir ortam sunmaktır.
            <p class="h3" id="dots">. . . </p>
          </p>
          <p class="section-text d-none" id="more">
            Olanaklarımız şunları içerir: <br> <br>
            
            - Geniş, ferah ve konforlu bir deneyim sunma imkanı. <br>
            - Çeşitli spor egzersizleri ve fitness hareketleri. <br>
            - Otopark olanağı. <br>
            - Her gün uzman ekiplerimiz tarafından steril edilen ve temizlenen kullanım alanları. <br>
            - DJ performansı eşliğinde farklı bir antrenman deneyimi. <br>
            - Buca'nın en iyi antrenörlerinden bilgi alma fırsatı. <br>
            - Uygulamamızdan antrenman bilgisi ve ölçülerinizi sürekli kontrol etme imkanı. <br>
            - Body Fit Shop supplement satış noktası. <br>
            - Güler yüzlü ve profesyonel bir eğitim için doğru adrestesiniz. <br>
            - Sürekli sıcak su ve duş imkanı. <br>
            - Sahada devamlı bilgi alabileceğiniz antrenörlerimiz, bilgilerini sizinle paylaşmak için sizi bekliyor.
          </p>
          <div class="wrapper float-right">
            <btn class="btn btn-primary" onclick="showMore()" id="showBtn">Daha fazla</btn>
          </div>
        </div>
      </div>
    </section>

    <!--  #VIDEO-->
    <section class="section video" aria-label="video">
      <div class="container">

        <div class="video-card has-before has-bg-image"
          style="background-image: url('{% static 'images/salon1.jpg' %}')">

          <h2 class="h2 card-title">Fitness Hayatını Keşfedin</h2>

          <button class="play-btn" aria-label="play video">
            <ion-icon name="play-sharp" aria-hidden="true"></ion-icon>
          </button>

          <a href="#" class="btn-link has-before">Daha Fazlasını İzleyin</a>

        </div>

      </div>
    </section>

    <!--#CLASS-->
    <section class="section class bg-dark has-bg-image" id="class" aria-label="class"
      style="background-image: url('{% static 'images/classes-bg.png' %}')">
      <div class="container">
        <p class="section-subtitle">DERSLERIMIZ</p>
        <h2 class="h2 section-title text-center">Her Hedefe Uygun Fitness Dersleri</h2>
        <ul class="class-list has-scrollbar">
          <li class="scrollbar-item">
            <div class="class-card">
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-1.jpg' %}" width="416" height="240" loading="lazy" alt="Weight Lifting"
                  class="img-cover">
              </figure>
              <div class="card-content">
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-1.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
                  <h3 class="h3">
                    <a href="#" class="card-title">Ağırlık Kaldırma</a>
                  </h3>
                </div>
                <p class="card-text">
                  Bu tür egzersizler, kas kütlesini artırır, metabolizmayı hızlandırır ve genel vücut sağlığını olumlu yönde etkiler.
                </p>
                <div class="card-progress">
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
                    <span class="progress-value">95%</span>
                  </div>
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 95%"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="class-card">
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-2.jpg' %}" width="416" height="240" loading="lazy" alt="Cardio & Strenght"
                  class="img-cover">
              </figure>
              <div class="card-content">
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-2.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
                  <h3 class="h3">
                    <a href="#" class="card-title">Cardio</a>
                  </h3>
                </div>
                <p class="card-text">
                  Genel dayanıklılığı artırır, kilo kontrolüne yardımcı olur, kalp sağlığını iyileştirir, enerji seviyelerini artırır ve stresi azaltır.
                </p>
                <div class="card-progress">
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
                    <span class="progress-value">92%</span>
                  </div>
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 92%"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% comment %} <li class="scrollbar-item">
            <div class="class-card">
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-3.jpg' %}" width="416" height="240" loading="lazy" alt="Power Yoga"
                  class="img-cover">
              </figure>
              <div class="card-content">
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-3.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
                  <h3 class="h3">
                    <a href="#" class="card-title">Power Yoga</a>
                  </h3>
                </div>

                <p class="card-text">
                  Suspendisse nisi libero, cursus ac magna sit amet, fermentum imperdiet nisi.
                </p>

                <div class="card-progress">

                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>

                    <span class="progress-value">68%</span>
                  </div>

                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 68%"></div>
                  </div>

                </div>

              </div>

            </div>
          </li> {% endcomment %}
          <li class="scrollbar-item">
            <div class="class-card">
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-4.jpg' %}" width="416" height="240" loading="lazy" alt="The Fitness Pack"
                  class="img-cover">
              </figure>
              <div class="card-content">
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-4.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
                  <h3 class="h3">
                    <a href="#" class="card-title">Fitness Paketi</a>
                  </h3>
                </div>
                <p class="card-text">
                  Genellikle çeşitli egzersiz ekipmanları, antrenman programları ve beslenme önerilerini içeren kapsamlı paketlerdir.
                </p>
                <div class="card-progress">
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
                    <span class="progress-value">88%</span>
                  </div>
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 88%"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!--============================== ANTRENORLERIMIZ ===============================-->
    <section class="section blog" id="blog" aria-label="blog">
      <div class="container">
        <p class="section-subtitle mb-5">ANTRENÖRLERİMİZ</p>
        <ul class="class-list has-scrollbar">
          {% for antrenor in antrenorler %}
            <li class="scrollbar-item">
              <div class="class-card">
                <figure class="card-banner img-holder" style="--width: 400px; --height: 400px;">
                  {% if antrenor.image %}
                    <img src="{{ antrenor.image.url }}" id="antrenor-img" loading="lazy" alt="Trainer Images" class="img-cover">
                  {% else %}
                  <img id="antrenor-img" loading="lazy" alt="Trainer Images" class="img-cover">
                  {% endif %}
              </figure>
                <div class="card-content">
                  <div class="title-wrapper">
                    <img src="{% static 'images/class-icon-1.png' %}" width="52" height="52" aria-hidden="true" alt="" class="title-icon">
                    <h3 class="h3">
                      {% if antrenor.instagram_kullanici_adi %}
                        <a href="https://www.instagram.com/{{antrenor.instagram_kullanici_adi}}" target="_blank" class="card-title">{{ antrenor.name }}</a>
                      {% else %}
                        <a href="#" target="_blank" class="card-title">{{ antrenor.name }}</a>
                      {% endif %}
                      <p class="card-text">{{ antrenor.keywords }}</p>
                    </h3>
                  </div>
                  <p class="card-text">{{ antrenor.detail }}</p>
                  <div class="card-progress">
                    <div class="progress-bg">
                      <div class="progress-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </article>
</main>
  