{% load static %}
<main>
    <article>
      
    <!--#ABOUT-->
    <section class="section about" id="about" aria-label="about">
      <div class="container">
  
        <div class="about-banner has-after">
          <img src="{% static 'images/about-banner.png' %}" width="660" height="648" loading="lazy" alt="about banner"
            class="w-100">
          <img src="{% static 'images/about-circle-one.png' %}" width="660" height="534" loading="lazy" aria-hidden="true"
            alt="" class="circle circle-1">
          <img src="{% static 'images/about-circle-two.png' %}" width="660" height="534" loading="lazy" aria-hidden="true"
            alt="" class="circle circle-2">
          <img src="{% static 'images/fitness.png' %}" width="650" height="154" loading="lazy" alt="fitness"
            class="abs-img w-100">
        </div>
  
        <div class="about-content">
          <p class="section-subtitle">HAKKIMIZDA</p>
          <h2 class="h2 section-title">Salonumuza Hoş Geldiniz..</h2>
          <p class="section-text">
            Nam ut hendrerit leo. Aenean vel ipsum nunc. Curabitur in tellus vitae nisi aliquet dapibus non et erat.
            Pellentesque
            porta sapien non accumsan dignissim curabitur sagittis nulla sit amet dolor feugiat.
          </p>
          <p class="section-text">
            Integer placerat vitae metus posuere tincidunt. Nullam suscipit ante ac aliquet viverra vestibulum ante
            ipsum primis.
          </p>
  
          <div class="wrapper">
  
            <div class="about-coach">
  
              <figure class="coach-avatar">
                <img src="{% static 'images/about-coach.jpg' %}" width="65" height="65" loading="lazy" alt="Trainer">
              </figure>
  
              <div>
                <h3 class="h3 coach-name">Denis Robinson</h3>
  
                <p class="coach-title">Our Coach</p>
              </div>
  
            </div>
  
            <a href="#" class="btn btn-primary">Explore More</a>
  
          </div>
  
        </div>
  
      </div>
    </section>
  
    <!--  #VIDEO-->
    <section class="section video" aria-label="video">
      <div class="container">
  
        <div class="video-card has-before has-bg-image"
          style="background-image: url('{% static 'images/video-banner.jpg' %}')">
  
          <h2 class="h2 card-title">Explore Fitness Life</h2>
  
          <button class="play-btn" aria-label="play video">
            <ion-icon name="play-sharp" aria-hidden="true"></ion-icon>
          </button>
  
          <a href="#" class="btn-link has-before">Watch More</a>
  
        </div>
  
      </div>
    </section>
  
    <!--#CLASS-->
    <section class="section class bg-dark has-bg-image" id="class" aria-label="class"
      style="background-image: url('{% static 'images/classes-bg.png' %}')">
      <div class="container">
  
        <p class="section-subtitle">DERSLERIMIZ</p>
  
        <h2 class="h2 section-title text-center">Her Hedefe Uygun Fitness Dersleri</h2>
  
        <ul class="class-list has-scrollbar">
  
          <li class="scrollbar-item">
            <div class="class-card">
  
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-1.jpg' %}" width="416" height="240" loading="lazy" alt="Weight Lifting"
                  class="img-cover">
              </figure>
  
              <div class="card-content">
  
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-1.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Weight Lifting</a>
                  </h3>
                </div>
  
                <p class="card-text">
                  Suspendisse nisi libero, cursus ac magna sit amet, fermentum imperdiet nisi.
                </p>
  
                <div class="card-progress">
  
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
  
                    <span class="progress-value">95%</span>
                  </div>
  
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 95%"></div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </li>
  
          <li class="scrollbar-item">
            <div class="class-card">
  
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-2.jpg' %}" width="416" height="240" loading="lazy" alt="Cardio & Strenght"
                  class="img-cover">
              </figure>
  
              <div class="card-content">
  
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-2.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Cardio & Strenght</a>
                  </h3>
                </div>
  
                <p class="card-text">
                  Suspendisse nisi libero, cursus ac magna sit amet, fermentum imperdiet nisi.
                </p>
  
                <div class="card-progress">
  
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
  
                    <span class="progress-value">92%</span>
                  </div>
  
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 92%"></div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </li>
  
          <li class="scrollbar-item">
            <div class="class-card">
  
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-3.jpg' %}" width="416" height="240" loading="lazy" alt="Power Yoga"
                  class="img-cover">
              </figure>
  
              <div class="card-content">
  
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-3.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Power Yoga</a>
                  </h3>
                </div>
  
                <p class="card-text">
                  Suspendisse nisi libero, cursus ac magna sit amet, fermentum imperdiet nisi.
                </p>
  
                <div class="card-progress">
  
                  <div class="progress-wrapper">
                    <p class="progress-label">Doluluk Oranı</p>
  
                    <span class="progress-value">68%</span>
                  </div>
  
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 68%"></div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </li>
  
          <li class="scrollbar-item">
            <div class="class-card">
  
              <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                <img src="{% static 'images/class-4.jpg' %}" width="416" height="240" loading="lazy" alt="The Fitness Pack"
                  class="img-cover">
              </figure>
  
              <div class="card-content">
  
                <div class="title-wrapper">
                  <img src="{% static 'images/class-icon-4.png' %}" width="52" height="52" aria-hidden="true" alt=""
                    class="title-icon">
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Fitness Paketi</a>
                  </h3>
                </div>
  
                <p class="card-text">
                  Suspendisse nisi libero, cursus ac magna sit amet, fermentum imperdiet nisi.
                </p>
  
                <div class="card-progress">
  
                  <div class="progress-wrapper">
                    <p class="progress-label">Class Full</p>
  
                    <span class="progress-value">88%</span>
                  </div>
  
                  <div class="progress-bg">
                    <div class="progress-bar" style="width: 88%"></div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </li>
  
        </ul>
  
      </div>
    </section>
  
    <!--#BLOG-->
    <section class="section blog" id="blog" aria-label="blog">
      <div class="container">
  
        <p class="section-subtitle">Our News</p>
  
        <h2 class="h2 section-title text-center">Latest Blog Feed</h2>
  
        <ul class="blog-list has-scrollbar">
  
          <li class="scrollbar-item">
            <div class="blog-card">
  
              <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                <img src="{% static 'images/blog-1.jpg' %}" width="440" height="270" loading="lazy"
                  alt="Going to the gym for the first time" class="img-cover">
  
                <time class="card-meta" datetime="2022-07-07">7 July 2022</time>
              </div>
  
              <div class="card-content">
  
                <h3 class="h3">
                  <a href="#" class="card-title">Going to the gym for the first time</a>
                </h3>
  
                <p class="card-text">
                  Praesent id ipsum pellentesque lectus dapibus condimentum curabitur eget risus quam. In hac
                  habitasse platea dictumst.
                </p>
  
                <a href="#" class="btn-link has-before">Read More</a>
  
              </div>
  
            </div>
          </li>
  
          <li class="scrollbar-item">
            <div class="blog-card">
              <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                <img src="{% static 'images/blog-2.jpg' %}" width="440" height="270" loading="lazy"
                  alt="Parturient accumsan cacus pulvinar magna" class="img-cover">
  
                <time class="card-meta" datetime="2022-07-07">7 July 2022</time>
              </div>
  
              <div class="card-content">
  
                <h3 class="h3">
                  <a href="#" class="card-title">Parturient accumsan cacus pulvinar magna</a>
                </h3>
  
                <p class="card-text">
                  Praesent id ipsum pellentesque lectus dapibus condimentum curabitur eget risus quam. In hac
                  habitasse platea dictumst.
                </p>
  
                <a href="#" class="btn-link has-before">Read More</a>
  
              </div>
  
            </div>
          </li>
  
          <li class="scrollbar-item">
            <div class="blog-card">
  
              <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                <img src="{% static 'images/blog-3.jpg' %}" width="440" height="270" loading="lazy"
                  alt="Risus purus namien parturient accumsan cacus" class="img-cover">
  
                <time class="card-meta" datetime="2022-07-07">7 July 2022</time>
              </div>
  
              <div class="card-content">
  
                <h3 class="h3">
                  <a href="#" class="card-title">Risus purus namien parturient accumsan cacus</a>
                </h3>
  
                <p class="card-text">
                  Praesent id ipsum pellentesque lectus dapibus condimentum curabitur eget risus quam. In hac
                  habitasse platea dictumst.
                </p>
  
                <a href="#" class="btn-link has-before">Read More</a>
  
              </div>
  
            </div>
          </li>
  
        </ul>
  
      </div>
    </section>
  
    </article>
  </main>
  