{% load static %}


<!--#FOOTER-->
<footer class="footer" id="contact">

<div class="section footer-top bg-dark has-bg-image" style="background-image: url('{% static 'images/footer-bg.png' %}')">
    <div class="container">

    <div class="footer-brand">

        <a href="/" class="logo" style="margin-bottom:7rem;">
            <img src="{% static "images/header.png" %}" alt="">
        </a>
        <h1 style="color: white" class="footer-list-title has-before">BUNNY FIT</h1>

        

        <div class="wrapper">
            <div class="d-flex g-3 flex-direction-column" id="clock">
                <img src="{% static 'images/footer-clock.png' %}" width="34" height="34" loading="lazy" alt="Clock">
                <img src="{% static 'images/footer-clock.png' %}" width="34" height="34" loading="lazy" alt="Clock">
            </div>
        <ul class="footer-brand-list">

            <li>
                <p class="footer-brand-title">Pazartesi - Cuma</p>
                <p>7:00 - 23:00</p>
            </li>

            <li>
                <p class="footer-brand-title">Cumartesi - Pazar</p>
                <p>12:00 - 20:00</p>
            </li>

        </ul>

        </div>

    </div>

    <ul class="footer-list">
        <li>
        <p class="footer-list-title has-before">Bağlantılar</p>
        </li>

        <li>
        <a href="#home" class="footer-link">Anasayfa</a>
        </li>

        <li>
        <a href="#about" class="footer-link">Hakkımızda</a>
        </li>

        <li>
        <a href="#class" class="footer-link">Dersler</a>
        </li>

        <li>
        <a href="/fiyatlar" class="footer-link">Üyelik Paketleri</a>
        </li>

        <li>
        <a href="#blog" class="footer-link">Antrenörler</a>
        </li>

        <li>
        <a href="#contact" class="footer-link">İletişim</a>
        </li>
    </ul>

    <ul class="footer-list">
        <li>
        <p class="footer-list-title has-before">İletişim</p>
        </li>

        <li class="footer-list-item">
        <div class="icon">
            <ion-icon name="location" aria-hidden="true"></ion-icon>
        </div>

        <address class="address footer-link">
            Adatepe Mahallesi 24 Sk. No: 9a Buca/İzmir 35400
        </address>
        </li>

        <li class="footer-list-item">
        <div class="icon">
            <ion-icon name="call" aria-hidden="true"></ion-icon>
        </div>

        <div>
            <a href="tel:+902325029191" class="footer-link">+90 232 502 91 91</a>

            <a href="tel:+905065096235" class="footer-link">+90 506 509 62 35</a>
        </div>
        </li>

        <li class="footer-list-item">
        <div class="icon">
            <ion-icon name="mail" aria-hidden="true"></ion-icon>
        </div>

        <div>
            <a href="mailto:info@bunnyfitofficial.com" class="footer-link">info@bunnyfitofficial.com</a>

            <a href="mailto:bunnyfitofficial@gmail.com" class="footer-link">bunnyfitofficial@gmail.com</a>
        </div>
        </li>

    </ul>

    <ul class="footer-list">
        <li>
        <p class="footer-list-title has-before">Bültenimiz</p>
        </li>

        <li>
        <form action="" class="footer-form">
            <input type="email" name="email_address" aria-label="email" placeholder="Email Address" required
            class="input-field">

            <button type="submit" class="btn btn-primary" aria-label="Submit">
            <ion-icon name="chevron-forward-sharp" aria-hidden="true"></ion-icon>
            </button>
        </form>
        </li>

        <li>
        <ul class="social-list">
            <li>
            <a href="https://www.instagram.com/bunnyfitofficial/" target="_blank" class="social-link" style="color: #3f129b">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            </li>

            <li>
            <a href="https://www.facebook.com/people/Bunny-Fit-%C4%B0zmir/100086600263501/?paipv=0&eav=AfZIgmn4jHtnneNfIUJya4WFqgWUdqghVrFidjpsddF1CDLLuIH_XFWI8cAiCzTZQkU&_rdr"  target="_blank" class="social-link text-primary">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            </li>


            <li>
            <a href="https://api.whatsapp.com/send/?phone=905065096235&text&type=phone_number&app_absent=0" class="social-link text-success">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
            </li>

        </ul>
        </li>

    </ul>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">

    <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; All Rights Reserved. Designed
        by
        <a class="text-primary" style="color: var(--coquelicot);" href="https://instagram.com/ozcanakyuz_" target="_blank">Ozcan AKYUZ</a>
    </p>
    <ul class="footer-bottom-list">
        <li>
        <a href="#" class="footer-bottom-link has-before">Privacy Policy</a>
        </li>
        <li>
        <a href="#" class="footer-bottom-link has-before">Terms & Condition</a>
        </li>
    </ul>
    </div>
</div>

</footer>

<!-- #BACK TO TOP-->
<a href="#" class="back-top-btn" aria-label="back to top" data-back-top-btn>
<ion-icon name="caret-up-sharp" aria-hidden="true"></ion-icon>
</a>

<!-- ionicon link -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>