{% load static %}
{% block body %}

{% comment %}!-- Log In Start --> {% endcomment %}
<div class="containerlog modal fade" id="containerlog" style="max-height: 530px;">
	{% comment %} ! SIGN UP {% endcomment %}
	<div class="form-containerlog sign-up-containerlog">
		<form action="" method="POST">
		{% csrf_token %}
			<h1>Kayıt Ol</h1>
			{% comment %} <div class="social-containerlog">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> {% endcomment %}
			{% comment %} <span>or use your email for registration</span> {% endcomment %}
			<div class="d-flex" style="gap: 1rem;">
				<input type="text" name="first_name" placeholder="Name"/>
				<input type="text" name="last_name" placeholder="Surname"/>
			</div>
			<input type="text" name="username" placeholder="Username"/>
			<input type="email" name="email" placeholder="Email"/>
			<input type="password" name="password" placeholder="Password"/>
			<input type="password" name="password1" placeholder="Password Retry"/>
			<button type="submit" name="signup_submit">Kayıt Ol</button>
		</form>
	</div>

	{% comment %} ! LOG IN  {% endcomment %}
	<div class="form-containerlog sign-in-containerlog">
		<form action"{% url 'index' %}" method="POST">
            {% csrf_token %}
			<h1>Giriş Yap</h1>
			{% comment %} <div class="social-containerlog">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> {% endcomment %}
			{% comment %} <span>or use your account</span> {% endcomment %}
			<input type="text" name="username" placeholder="Username"/>
			<input type="password" name="password" placeholder="Password"/>
			<a href="" class="my-2">Şifremi unuttum</a>
			<button type="submit" name="login_submit">Giriş yap</button>
		</form>
	</div>

	<div class="overlay-containerlog">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hoşgeldiniz!</h1>
				<p>Kişisel bilgilerinizi girerek giriş yapabilirsiniz.</p>
				<button class="ghost" id="signIn">Giriş yap</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Merhaba!</h1>
				<p>Kişisel bilgilerinizi girin ve aramıza katılın.</p>
				<button class="ghost" id="signUp">Kayıt Ol</button>
			</div>
		</div>
	</div>
</div>
{% comment %} !-- Log In End --> {% endcomment %}


{% endblock %}
