{% extends 'base.html' %}
{% load static %}

{% block body %}

<!--#HERO-->
<section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section
  style="background-image: url('{% static 'images/hero-bg.png' %}'); height: 65vh;">
  <div class="container">

    <div class="hero-content" style="margin-block-end: 190px;">

      <h1 class="h1 hero-title">KULLANICI PROFILI</h1>
      <p class="hero-subtitle">
        <strong class="strong">MORE FIT</strong>MORE HAPPY!
      </p>

      <h1 class="h1 hero-title">BUNNY FIT</h1>
      {% comment %} <p class="section-text">
        Duis mollis felis quis libero dictum vehicula. Duis dictum lorem mi, a faucibus nisi eleifend eu.
      </p> {% endcomment %}
    </div>

    <div class="hero-banner">
      <img src="{% static 'images/bunnyfit.png' %}" width="660" height="753" alt="hero banner" class="w-100">
      <img src="{% static 'images/hero-circle-one.png' %}" width="666" height="666" aria-hidden="true" alt=""
        class="circle circle-1">
      <img src="{% static 'images/hero-circle-two.png' %}" width="666" height="666" aria-hidden="true" alt=""
        class="circle circle-2">
      <img src="{% static 'images/heart-rate.svg' %}" width="255" height="270" alt="heart rate"
        class="abs-img abs-img-1">
      <img src="{% static 'images/calories.svg' %}" width="348" height="224" alt="calories" class="abs-img abs-img-2">
    </div>
  </div>
</section>

<table class="table table-bordered text-center rounded shadow-lg mt-5 w-25" id="user_profile" style="margin: auto;">
    <thead class="text-dark">
        <tr>
            <th class="user_profile_responsive_600 bg-secondary" style="width:2rem;padding-bottom:6rem;">Fotoğraf</th>
            {% if profile.image %}
            <td class="align-middle d-flex justify-content-center align-center"><img src="{{ profile.image.url }}" alt="profil" style="width: 100px;"></td>
            {% else %}
            <td class="align-middle d-flex justify-content-center align-center"><img src="" alt="NO PHOTO!" style="width: 100px;"></td>
            {% endif %}
        </tr>
            <th class="user_profile_responsive_600 bg-secondary">İsim Soyisim</th>
            <td class="align-middle user_profile_responsive_600">{{ profile.user.get_full_name }}</td>
        </tr>
            <th class="user_profile_responsive_600 bg-secondary">E-Mail</th>
            <td class="align-middle user_profile_responsive_600">{{ profile.user.email }}</td>

        </tr>
            <th class="user_profile_responsive bg-secondary">Telefon</th>
            <td class="align-middle user_profile_responsive">{{ profile.phone }}</td>

        </tr>
            <th class="user_profile_responsive bg-secondary">Adres</th>
            <td class="align-middle user_profile_responsive">{{ profile.address }}</td>

        </tr>
            <th class="user_profile_responsive bg-secondary">Şehir</th>
            <td class="align-middle user_profile_responsive">{{ profile.city }}</td>
        </tr>
        {% comment %}
        <th></th>
         <td class="align-middle user_profile_responsive border-none"><h2>Vücut Ölçülerim</h2></td>
      </tr>
            <th class="user_profile_responsive bg-secondary">Boy</th>
            <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Kilo</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Omuz</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Göğüs</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Bel</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Basen</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Sağ Kol</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Sol Kol</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Sağ Bacak</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr>
          <th class="user_profile_responsive bg-secondary">Sol Bacak</th>
          <td class="align-middle user_profile_responsive">{{ profile }}</td>
        </tr> {% endcomment %}
    </thead>
    {% comment %} <tbody class="align-middle d-flex justify-content-center">
        <tr>
            <td class="align-middle">
                <a class="btn btn-primary rounded px-4 py-2 rounded text-light align-items-center hidden-arrow" id="navbarDropdownEditProfile" type="button" data-toggle="modal" data-target="#containereditprofile">Edit Profile</a>
            </td>
            <td class="align-middle">
                <a class="btn btn-danger rounded px-3 py-2 rounded text-light align-items-center hidden-arrow" id="navbarDropdownChangePassword" type="button" data-toggle="modal" data-target="#containerchangepassword">Change Password</a>
            </td>
        </tr>
    </tbody> {% endcomment %}
</table>
<table class="align-middle d-flex justify-content-center mt-4" >
        <tr class="align-middle d-flex justify-content-center mt-4"  style="gap: 2rem;">
          <td>
            <a class="btn btn-danger rounded px-4 py-4 rounded text-light align-items-center hidden-arrow" href="/logout">Log Out</a>
          </td>
          <td class="align-middle">
              <a class="btn btn-warning rounded px-4 py-4 rounded text-light align-items-center hidden-arrow" id="navbarDropdownChangePassword" type="button" data-toggle="modal" data-target="#containerchangepassword">Change Password</a>
          </td>
          <td>
              <a class="btn btn-success rounded px-4 py-4 rounded text-light align-items-center hidden-arrow" id="navbarDropdownEditProfile" type="button" data-toggle="modal" data-target="#containereditprofile">Edit Profile</a>
          </td>
        </tr>
</table>

<div class="text-center my-4">

</div>

  {% include 'user_settings_modal.html' %}
  {% include 'user_password_modal.html' %}

{% endblock %}